@charset "UTF-8";

/* Typical Divece Breakpoints 
------------------------------
Telas pequenas: até 600px
Celular: de 600 até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Telas Grandes: acima de 1200px
*/

/*Imagem para celulares*/
@media (max-width: 768px){
    body{
        display: flex;
        background-image: url(../image/inicial_celular.png);
        background-repeat: no-repeat;
        overflow: auto;
        background-position: top;
        background-size: cover;
        font-family: 'Inter', sans-serif;
    }
    
    *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    
    .itens-menu{
        font-family: 'Inter', sans-serif;
        background: linear-gradient(180.01deg, #3e3457 17.92%, rgba(108, 33, 166, 0.884) 98.23%);
        width: 20rem;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 0.4s linear;
        border-radius: 0px 50px 50px 0px;
        box-shadow: 3px 0px 5px #00000081;
        position: relative;
        z-index: 1000;
    }
    
    .show{
        transform: translateX(0%);
    }
    
    .bars{
        position: absolute;
        top: 1rem;
        left: 20.4rem;
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }

    .circulo{
        display: block;
        height: 12rem;
        padding-top: 1rem;
    }

    #elipse{
        display: flex;
        background-color: #D9D9D9;
        clip-path: circle();
        height: 9rem;
        align-items: center;
        justify-content: center;
    }

    .cabeca_boneco{
        position: relative;
        width: 3rem;
        height: 2.5rem;
        bottom: 0.7rem;
        left: 1.6rem;
        clip-path: circle();
        background-color: rgb(5, 5, 5);
    }

    .corpo_boneco{
        position: relative;
        width: 3.2rem;
        height: 3rem;
        top: 2rem;
        right: 1.5rem;
        background-color: #000000;
        border-radius: 20px 20px 0px 0px;
    }
    
    img{
        position: relative;
        bottom: 7.8rem;
        left: 6.4rem;
        transform: rotate(-18.23deg);
    }

    #nome{
        display: block;
        text-align: center;
        position: relative;
        bottom: 1.5rem;
    }

    #nome p, h1{
        padding: 0.2rem;
        color: #fff;
    }

    h1{
        font-size: 1.3rem;
        font-weight: normal;
    }

    ul{
        padding-left: 3.5rem;
        padding-top: 1.8rem;
    }

    .itens-menu a{
        display: block;
        text-align: left;
        font-size: 1rem;
        padding: 1rem;
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .itens-menu a:hover{
        background: linear-gradient(90deg, #31A8FF 2.8%, rgb(253, 20, 133) 84.11%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .imagens{
        display: block;
        width: 4rem;
        position: relative;
        bottom: 9.8rem;
        padding-left: 1.8rem;
    }

    input{
        width: 3rem;
        padding: 0.6rem;
    }

    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: small;
        font-style: italic;
    }

    #barra_mensagem{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .retangulo{
        position: fixed;
        background: #D9D9D9;
        width: 100%;
        height: 3rem;
        border-radius: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 1rem;
    }

    #texto{
        display: block;
        width: 100%;
        color: #6e6e6e;
        font-style: normal;
        font-size: 1rem;
        border-style: none;
        background: none;
        outline: none;
    }

    #send{
        display: flex;
        width: 5rem;
        height: 3rem;
        justify-content: right;
        align-items: center;
        cursor: pointer;
    }

    .triangulo_preto{
        position: relative;
        right: 0.7rem;
        width: 0rem;
        height: 0rem;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 20px solid #000000;
        border-radius: 3px;
    }
    
    .triangulo_roxo{
        position: relative;
        right: 1.6rem;
        bottom: 0.6rem;
        width: 0rem;
        height: 0rem;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #8A3BEB;
        border-radius: 3px;
    }
}
