*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-image: url(../image/login-cadastro2.png);
    background-repeat: no-repeat;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: flex;
    height: 4rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 5rem;
    padding-top: 4rem;
}

.mensagem{
    text-align: right;
    height: 4rem;
    font-size: 1.5rem;
    color: #ffffff;
    padding-right: 5rem;
    padding-top: 2rem;

}
.container-cadastro{
    display: flex;
    padding-top: 13rem;
    padding-left: 5rem;
}

.container-cadastro .user-box{
    position: relative;
}

.container-cadastro .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 1.6rem;
    border: none;
    border-bottom: 1px solid #FFF;
    outline: none;
    background: transparent;
  }

.container-cadastro .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    pointer-events: none;
    transition: .5s;
}

.container-cadastro .user-box input:focus ~ label,
.container-cadastro .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #FFFFFF;
  font-size: 12px;
}
.register-box{
    display: flex;
    justify-content: end;
    padding-right: 5rem;
}

.register-box a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #ffffff3f;
    background: #3C249C;
    padding: 1rem 6rem 1rem 6rem;
    border-radius: 50%;
}

.register-box a:hover{
    background: #ffffff3f;
    color: #3C249C;
    transition: 0.5s;
}

#termos{
 padding-left: 4.5rem;
}

#termos label {
    color: #FFFFFF;
}
#termos label span{
    color: #000000;
    font-weight: bold;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

footer{
    display: flex;
 }





