*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Imagem para celulares*/
@media (min-width: 162px) and (max-width: 928px){
    body{
        display: flex;
        background-image: url(../image/celular_login.png);
        background-repeat: no-repeat;
        overflow: auto;
        background-position: top;
        background-size: cover;
        font-family: 'Inter', sans-serif;
        justify-content: center;
    }
}

/*Imagem para tablets*/
@media (min-width: 768px) and (max-width: 1280px){
    body{
        display: inline;
        background: url(../image/tablet_login.png);
        background-repeat: no-repeat;
        overflow: auto;
        background-position: top;
        background-size: cover;
        font-family: 'Inter', sans-serif;
    }
}

/*Imagem para computadores*/
@media (min-width: 1170px) and (max-width: 2048px){
    body{
        background: url(../image/PC_login.png);
        background-repeat: no-repeat;
        overflow: auto;
        background-position: top;
        font-family: 'Inter', sans-serif;
        background-size: auto;
    }
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: flex;
    height: 4rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 4rem;
    padding-top: 2rem;
}

.mensagem{
    text-align: right;
    height: 4rem;
    font-size: 1.5rem;
    color: #ffffff;
    padding-right: 4rem;
    padding-top: 2rem;

}
.container-cadastro{
    display: flex;
    padding-top: 6rem;
    padding-left: 5rem;
}

.container-cadastro .user-box{
    position: relative;
}

.container-cadastro .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 1.6rem;
    border: none;
    border-bottom: 1px solid #FFF;
    outline: none;
    background: transparent;
  }

.container-cadastro .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    pointer-events: none;
    transition: .5s;
}

.container-cadastro .user-box input:focus ~ label,
.container-cadastro .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #FFFFFF;
  font-size: 12px;
}
.register-box{
    display: flex;
    justify-content: end;
    padding-right: 3rem;
    padding-top: 2rem;
}

.register-box a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #ffffff86;
    background: #6448d3;
    padding: 1rem 4rem 1rem 4rem;
    border-radius: 50%;
}

.register-box a:hover{
    color: #ffffff;
    transition: 0.6s;
    background: rgb(184,4,116);
    background: linear-gradient(279deg, rgba(184,4,116,1) 0%, rgba(35,27,198,1) 100%);
    box-shadow: 3px 4px #00000085;
}

#termos{
    padding-left: 5rem;
    padding-top: 2rem;
}

#termos label {
    color: #FFFFFF;
}
#termos label span{
    color: #ffffff;
    font-weight: bold;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: small;
    font-style: italic;
}
