*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*Imagem para celulares*/
@media (max-width: 928px){
    body{
        display: flex;
        background-image: url(../image/inicial_pc.png);
        background-repeat: no-repeat;
        overflow: auto;
        background-position: top;
        background-size: cover;
        font-family: 'Inter', sans-serif;
        
    }
    
    .menu{
      display: flex;
      top: 4.1rem;
      transition: all 1s;
      display: grid;
      width: 18rem;
      height: 38.6rem;
      background: linear-gradient(180.01deg, #343757 17.92%, rgba(108, 33, 166, 0.484375) 98.23%);
      align-items: center;
      justify-items: center;
    }

    #linha{
        background-color: #000;
        text-align: center;
        display: flex;
        flex-direction: column;
        top: 4.1rem;
        left: 100%;
        transition: all 1s;
        width: 4rem;
        height: 3rem;
        margin-left: 14rem;
        margin-top: 0.7rem;
      }

    .checkBtn{
    display: flex;
    position: relative;
    bottom: 50px;
    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.5rem;
    }

    #check:checked~.botoes{
    left: 0%;
    }
      
}

/*Imagem para tablets*/
@media (min-width: 768px) and (max-width: 1280px){
    body{
        display: inline;
        background: url(../image/inicial_tablet.png);
        background-repeat: no-repeat;
        overflow: auto;
        background-position: top;
        background-size: cover;
        font-family: 'Inter', sans-serif;
    }
}

/*Imagem para computadores*/
@media (min-width: 1170px) and (max-width: 2048px){
    body{
        background: url(../image/inicial_pc.png);
        background-repeat: no-repeat;
        overflow: auto;
        background-position: top;
        font-family: 'Inter', sans-serif;
        background-size: auto;
    }
}

#menu{
    display: grid;
    width: 18rem;
    height: 38.6rem;
    background: linear-gradient(180.01deg, #343757 17.92%, rgba(108, 33, 166, 0.484375) 98.23%);
    align-items: center;
    justify-items: center;
}

.Ellipse{
    display: flex;
    position: relative;
    width: 8rem;
    height: 8rem;
    bottom: 8rem;
    right: 1rem;
    background: #D9D9D9;
    clip-path: circle();
    justify-content: center;
    align-items: center;
}

.cabeça_boneco{
    display: flex;
    width: 3rem;
    height: 2.188rem;
    background: #000000;
    clip-path: circle();
}

.corpo_boneco{
    display: flex;
    width: 3rem;
    height: 2.5rem;
    background: #000000;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    align-self: center;
}

/*Posição do Boneco(cabeça e corpo juntos)*/
#boneco{
    width: 48px;
    height: 75px;
    padding-top: 0.9rem;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.38));
}

.saturno{
    position: absolute;
    width: 50px;
    height: 35px;
    left: 0.8rem;
    top: 0.8rem;
    transform: rotate(-18.23deg);
}

.checkBtn{
    margin-top: 0.4rem;
    cursor: pointer;
    float: right;
}
