@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*Imagem para tablets*/
@media screen and (min-width: 768px){
    body{
        display: inline;
        background: url(../image/inicial_tablet.png);
        background-repeat: no-repeat;
        overflow: auto;
        background-position: top;
        background-size: cover;
        font-family: 'Inter', sans-serif;
    }

    menu{
        display: block;
    }

    menu li{
        display: block;
    }
}

/*Imagem para computadores*/
@media screen and (min-width: 1170px){
    body{
        background: url(../image/inicial_pc.png);
        background-repeat: no-repeat;
        overflow: auto;
        background-position: top;
        font-family: 'Inter', sans-serif;
        background-size: auto;
    }
}

